.Xauthority
.android/
.bashrc
.bito/
.cache/
.config/.android/
.config/.gsd-keyboard.settings-ported
.config/BraveSoftware/
.config/Code\ -\ OSS/
.config/Code/
.config/Google/
.config/JetBrains/
.config/OpenBangla/
.config/Postman/
.config/QtProject.conf
.config/Thunar/
.config/autostart/
.config/background.jpg
.config/copyq/copyq.lock
.config/copyq/copyq.pub
.config/copyq/copyq_tab_JmNsaXBib2FyZA==.dat
.config/copyq/copyq_tabs.ini
.config/dconf/
.config/github-copilot/
.config/glow/
.config/google-chrome/
.config/ibus/
.config/java/
.config/kdeglobals
.config/lxqt/
.config/nodemon.json
.config/nwg-look/
.config/okularrc
.config/oomox/
.config/pulse/
.config/skypeforlinux/
.config/spacefm/
.config/sublime-text/
.config/swhkd/
.config/tool_state
.config/xfce4/
.config/zoom.conf
.config/zoomus.conf
.config/zsh/.zcompdump
.dart-tool/
.dartServer/
.flutter
.gitconfig
.java/
.local/share/Google/
.local/share/JetBrains/
.local/share/TabNine/
.local/share/TelegramDesktop/
.local/share/Trash/
.local/share/android/
.local/share/applications/
.local/share/copyq/
.local/share/epiphany/
.local/share/evolution/
.local/share/flatpak/
.local/share/folks/
.local/share/gnome-settings-daemon/
.local/share/gnome-shell/
.local/share/gradle/
.local/share/grilo-plugins/
.local/share/gvfs-metadata/
.local/share/hoppscotch/
.local/share/icc/
.local/share/io.hoppscotch.desktop/
.local/share/keyrings/
.local/share/mime/
.local/share/nautilus/
.local/share/nvim/
.local/share/nwg-look/
.local/share/parcellite/
.local/share/pnpm/
.local/share/recently-used.xbel
.local/share/warp/
.local/share/xorg/
.local/share/z
.local/share/zed/
.local/state/
.mongodb/
.mozilla/
.npm/
.pki/
.pub-cache/
.soapuios/
.ssh/
.vscode-oss/
.vscode/
.xdm-app-data/
.zen/
.zoom/
Downloads/
cookiebro-cookies.json
dev/
